.errorContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column ;
  font-weight: 600;
  letter-spacing: -1px;

  .errorImg {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    width: 40%;
  }

  .errorMessage {
    color: red;
    font-size: 4em;
    text-align: center;
  }

  .returnHome {
    text-decoration: underline;
    color: #da0000;
  }
}

@media screen and (max-width: 800px) {
  .errorMessage {
    font-size: 2em !important;
  }
}